# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vercel
.vercel

# dependencies
node_modules
.pnp
.pnp.js
.idea

# testing
coverage

# next.js
.next/
.swc/
out/
build

# expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.expo*
web-build/
ios
android

# misc
.DS_Store
*.pem
dist
!packages/api/dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# codegen
__generated__
!packages/api/src/__generated__/
.tamagui
.metro-health-check*

# IDE
.vscode
